.nav-bar{
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  button{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
  }
}