*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat', sans-serif;
}
h1,h2,h3{
  color: #fff
}
.background-cover{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  filter: blur(3px);
  object-fit: cover;
  
}
.app{
  transition: all .5s linear;
}
.app--library{
  margin-left: 25%;
  
}
@import "./player";
@import "./song";
@import "./library";
@import "./nav";